backend/labs-api/pyenv/
backend/labs-api/migrations/
*.pyc
*.pyo
__pycache__/

.vscode/
.idea/

frontend/labs-ui/node_modules/
frontend/labs-ui/dist/
frontend/labs-ui/.nuxt/

*.log

*.coverage
coverage/

.DS_Store
Thumbs.db
